.wrap {
  position: relative;
}
.flex{
  display: flex;
}

.home-carousel-indicators li {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.home-nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: 80px;
}

.home-nav img {
  width: 140px;
  height: 63px;
  position: absolute;
  left: 80px;
  top: -10px;
}

.home-nav li a {
  padding-top: 0px;
}

.home-nav li a {
  color: #fff;
  font-size: 16px;
  font-family: Verdana;
  font-weight: 400;
}

.home-nav li:last-child a {
  padding-left: 0;
  padding-right: 80px;
}

.home-carousel-indicators {
  display: block;
  width: 22px;
  margin: 0;
  padding: 0;
  margin-right: 80px;
  margin-left: auto;
  margin-bottom: 180px;
}

.home-carousel-indicators li {
  margin: 0;
  padding: 0;
  border-top: 0;
  border-bottom: 0;

}

.home-carousel-indicators li:not(:first-child) {
  margin-top: 22px;
}

/*   MTB_wrap_outer    */
.MTB_wrap_outer{
  width: 100%;
}
.MTB_wrap_outer img{
  width: 64%;
}
.MTB_text_wrap {
  width: 36%;
  margin-left: 50px;
}
.MTB_text_wrap p,.MTB_text_wrap div{
  display: inline-block;
}

.four-col-layout .MTB_text_wrap{
  width:100%!important;
}

.MTB_wrap {
  /* display: flex; */
  background-color: #262626;
  color: #fff;
  box-sizing: border-box;
}



.bg-sec {
  background-color: #8CC9C7;
}

.bg-four {
  background-color: #F2E6B0;
}

.four-title {
  font-size: 36px;
  color: #000000;
  box-sizing: border-box;
  padding-top: 80px;
}

.ba-image {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  height: 860px;
  overflow: hidden;
}

.four-col-layout img {
  width: 100%;
}
.four-col-layout .MTB_text_wrap{
  margin-left: 0px;
}

.last_p {
  width: 182px;
  border: 1px solid #F49E00;
  margin-right: 93px;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.back-image {
  background-image: url("./images/9.png");
  height: 860px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bike {
  width: 100%;
  background-image: url("./images/10.png");
  background-position: top center;
  background-repeat: no-repeat;
  height: 860px;
  color: #fff;
  box-sizing: border-box;
  padding: 112px 0px 0px 3.5%;
}
.bike-outer{
  width: 100%;
}
/* =========================================================================== */  
.h-230 {
  height: 230px;
}
.t-c {
  text-align: center;
}
.m_a {
  margin: auto;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid .row {
  margin-right: 0px;
  margin-left: 0px;
}
.col-xl-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.t-r {
  text-align: right;
}
.MTB_left_wrap {
  height: 100%;
}
.common_p {
  box-sizing: border-box;
  padding-right: 93px;
  color: #fff;
}
.m_t_224 {
  margin-top: 224px;
}
.m_t57_b111 {
  margin-top: 57px;
  margin-bottom: 111px;
}
.f_s_72 {
  font-size: 72px;
}
.f_s_24 {
  font-size: 24px;
}
.f_s_70 {
  font-size: 70px;
}
.f_s_18 {
  font-size: 18px;
}
.f_s_16 {
  font-size: 16px;
}
.m_t_70 {
  margin-top: 70px;
}
.m_t_130 {
  margin-top: 130px;
  margin-top: 20.5%;
}

.m_t_165 {
  margin-top: 165px;
}
.m_t_100 {
  margin-top: 100px;
}
.l_h_76 {
  line-height: 76px;
}
.p_r {
  position: relative;
}
.p_a {
  position: absolute;
}
.column-wrap {
  width: 21%;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  margin-left: 62px;
  justify-content: space-evenly;
}
.column-wrap img {
  /* width: 398px; */
  width: 100%;
}
.line_height_65 {
  line-height: 65px;
}
.l_s_10 {
  letter-spacing: 10px;
}
.t-l {
  text-align: left;
}
.learn_more {
  width: 182px;
  height: 31px;
  box-sizing: border-box;
  border: 1px solid #f49e00;
  text-align: center;
}
.m_t_454 {
  margin-top: 454px;
}
.flex {
  display: flex;
}
.footer {
  height: 593px;
  background-color: #333333;
  font-size: 14px;
  color: #fff;
}
.footer ul {
  list-style: none;
}
.footer .flex {
  justify-content: space-evenly;
}
.footer ul li {
  line-height: 25px;
}
.w_220 {
  width: 220px;
}
.w_138 {
  width: 138px;
}
.w_170 {
  width: 170px;
}
.w_155 {
  width: 155px;
}
.Copyright {
  text-align: center;
  color: #fff;
  height: 102px;
  line-height: 102px;
  background-color: #333333;
  border-top: 1px solid #fff;
}

p {
  margin-bottom: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
/*  */
.carousel-vertical .carousel-inner .carousel-item-next.carousel-item-left,
.carousel-vertical .carousel-inner .carousel-item-prev.carousel-item-right {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.carousel-vertical .carousel-inner .active.carousel-item-left,
.carousel-vertical .carousel-inner .carousel-item-prev {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.carousel-vertical .carousel-inner .active.carousel-item-right,
.carousel-vertical .carousel-inner .carousel-item-next {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
